<!-- Temporary to remove duplicate submitted by user lines --> 
<% if @post.title.blank? %>

<% else %>
	<div class="post-banner">
		<h2 class="post-title">
		  <%= link_to @post.title, prepend_url(@post.content), :target => '_blank' %>
		</h2>
		<p class="post-user">
		  submitted by <%= @post.user.name %>
		</p>
	</div>
	<div class="post-content">
		<p class="post-text">
			<% 50.times do %>
				<%= @post.content %>
			<% end %>
		</p>
	</div>
	<div class="row">
		<div class="col-md-3 hidden-col"></div>
		<div class="post-comments col-md-6">
			<ol>
				<li class="comment-container">
					<span class="comment-name"><strong>Adam Morgan</strong></span>
					<span class="comment-text">This is where my comment will show up in the post view. This is where my comment will show up in the post view. This is where my comment will show up in the post view.</span>
				</li>
				<li class="comment-container">
					<span class="comment-name"><strong>Kyle Cline</strong></span>
					<span class="comment-text">This is where my comment will show up in the post view</span>
				</li>
				<li class="comment-container">
					<span class="comment-name"><strong>Caleb Leslie</strong></span>
					<span class="comment-text">This is where my comment will show up in the post view</span>
				</li>
			</ol>
			<div class="new-comment-container">
				<%= form_for(@post) do |f| %>
				    <%= f.text_area :leading_comment, placeholder: "Your thoughts?" %>
	      <%= f.submit "Add comment", class: "btn btn-large btn-primary" %>
	    	<% end %>
			</div>
		</div>
		<div class="col-md-3 hidden-col"></div>
	</div>
<% end %>
